<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="VerifidentitySettings:ApiKey" value="" />
		<Parameter name="VerifidentitySettings:ApiSecret" value="" />
		<Parameter name="VerifidentitySettings:BaseUrl" value="https://api.cloudcheck.co.nz" />
	</TestRunParameters>
</RunSettings>